// bower:sass
// endbower

body,
.quote-content
  background-color: #F5F5F5

.main-container
  max-width: 960px

.md-header
  background: url(../images/header_background.png) bottom center no-repeat
  min-height: 320px

.quote-content
  padding: 16px
  
.quote-card
  margin: 16px 8px
