#header {
    padding-top:4em;
}
blockquote {
    text-align:left;
}
section span {
    text-align:left;
    font-size:12px;
    float:left;

}
#footer-wrapper {
    padding: 0em 0 0em 0;
}
#copyright {
    margin-top:0em;
}
#titleBar {
    display:none;
}
