<div layout-fill flex layout-align="center start" layout class="quote-content">
    <div class="main-container" layout-fill flex layout="row">
        <md-card class="quote-card search-card" layout-fill>
            <md-card-content>
                <md-input-container md-no-float>
                    <input ng-model="searchQuery" placeholder="Search">
                </md-input-container>
            </md-card-content>
        </md-card>
    </div>
</div>

<!-- Dirty repeating of containers, yet very practical. -->

<md-content layout-fill flex layout-align="center start" layout class="quote-content">
    <div class="main-container" layout-fill flex layout="row" hide="sm" show-sm>
        <div>
            <md-card ng-repeat="quote in main.quotes | quoteFilter:searchQuery | orderBy:'-timestamp'"
                     class="quote-card">
                <md-card-content>
                    <h2 class="md-title">{{quote.text}}</h2>

                    <p class="md-body-1">{{quote.user_name}}</p>
                    <span class="md-caption">{{quote.timestamp * 1000 | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </md-card-content>
            </md-card>
        </div>
    </div>

    <div class="main-container" layout-fill flex layout="row" hide-sm>
        <div flex="50">
            <md-card ng-repeat="quote in main.quotes | quoteFilter:searchQuery | orderBy:'-timestamp'" ng-if="$even"
                     class="quote-card">
                <md-card-content>
                    <h2 class="md-title">{{quote.text}}</h2>

                    <p class="md-body-1">{{quote.user_name}}</p>
                    <span class="md-caption">{{quote.timestamp * 1000 | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50">
            <md-card ng-repeat="quote in main.quotes | quoteFilter:searchQuery | orderBy:'-timestamp'" ng-if="$odd"
                     class="quote-card">
                <md-card-content>
                    <h2 class="md-title">{{quote.text}}</h2>

                    <p class="md-body-1">{{quote.user_name}}</p>
                    <span class="md-caption">{{quote.timestamp * 1000 | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>
